#parent-stars-gravity {
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: none;
}

#stars {
  overflow: hidden;
  z-index: 2;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1312px 448px #fff, 1773px 89px #fff, 334px 1978px #fff,
    1823px 1291px #fff, 135px 288px #fff, 1028px 1821px #fff, 1923px 1848px #fff,
    97px 1195px #fff, 1438px 1404px #fff, 747px 1963px #fff, 94px 1354px #fff,
    1181px 1948px #fff, 1212px 612px #fff, 269px 1530px #fff, 147px 590px #fff,
    1333px 458px #fff, 123px 1900px #fff, 1642px 373px #fff, 434px 1739px #fff,
    839px 591px #fff, 1662px 1685px #fff, 1067px 212px #fff, 1252px 1604px #fff,
    1066px 1112px #fff, 1759px 511px #fff, 1404px 213px #fff, 301px 585px #fff,
    801px 1101px #fff, 811px 40px #fff, 485px 652px #fff, 1134px 1901px #fff,
    848px 1770px #fff, 826px 845px #fff, 548px 1572px #fff, 1945px 1715px #fff,
    1178px 1482px #fff, 1908px 249px #fff, 1526px 817px #fff, 1658px 1408px #fff,
    801px 818px #fff, 359px 203px #fff, 1349px 773px #fff, 49px 655px #fff,
    904px 1859px #fff, 463px 1555px #fff, 445px 99px #fff, 177px 219px #fff,
    230px 500px #fff, 1666px 727px #fff, 1739px 1741px #fff, 1412px 1040px #fff,
    824px 303px #fff, 758px 131px #fff, 456px 1421px #fff, 488px 202px #fff,
    1409px 1570px #fff, 1087px 1114px #fff, 1755px 148px #fff, 358px 1412px #fff,
    204px 123px #fff, 145px 1172px #fff, 955px 1552px #fff, 998px 795px #fff,
    317px 174px #fff, 1499px 230px #fff, 1184px 1629px #fff, 1616px 1248px #fff,
    1297px 314px #fff, 772px 547px #fff, 827px 1093px #fff, 1314px 1410px #fff,
    1111px 125px #fff, 223px 1508px #fff, 443px 309px #fff, 1993px 1002px #fff,
    460px 990px #fff, 876px 1026px #fff, 1081px 968px #fff, 1662px 1470px #fff,
    1674px 1860px #fff, 179px 1528px #fff, 1081px 579px #fff, 483px 1875px #fff,
    1810px 151px #fff, 584px 1308px #fff, 412px 1348px #fff, 1117px 1065px #fff,
    459px 1274px #fff, 449px 413px #fff, 1826px 1160px #fff, 18px 1429px #fff,
    1774px 889px #fff, 742px 378px #fff, 1948px 572px #fff, 1993px 1363px #fff,
    868px 298px #fff, 1837px 294px #fff, 851px 456px #fff, 432px 1720px #fff,
    1885px 59px #fff, 28px 1031px #fff, 1115px 148px #fff, 173px 441px #fff,
    1808px 248px #fff, 363px 1898px #fff, 1614px 945px #fff, 1873px 1252px #fff,
    103px 228px #fff, 66px 275px #fff, 484px 422px #fff, 957px 1311px #fff,
    1946px 44px #fff, 990px 1189px #fff, 588px 579px #fff, 153px 424px #fff,
    1307px 643px #fff, 1072px 770px #fff, 420px 1771px #fff, 142px 649px #fff,
    23px 323px #fff, 991px 1994px #fff, 964px 14px #fff, 1640px 414px #fff,
    689px 250px #fff, 852px 744px #fff, 291px 915px #fff, 483px 161px #fff,
    1538px 1899px #fff, 823px 712px #fff, 1059px 436px #fff, 124px 95px #fff,
    1584px 1016px #fff, 528px 1145px #fff, 1583px 985px #fff, 1300px 1183px #fff,
    1106px 360px #fff, 1085px 1872px #fff, 443px 1880px #fff, 7px 618px #fff,
    336px 369px #fff, 1422px 1569px #fff, 835px 459px #fff, 1950px 1517px #fff,
    46px 1491px #fff, 1497px 305px #fff, 311px 13px #fff, 557px 223px #fff,
    1226px 1641px #fff, 1839px 1414px #fff, 1731px 693px #fff, 1922px 886px #fff,
    357px 379px #fff, 1370px 551px #fff, 243px 1996px #fff, 33px 138px #fff,
    1476px 1429px #fff, 1971px 310px #fff, 1770px 757px #fff, 1774px 1185px #fff,
    84px 1534px #fff, 1620px 1177px #fff, 1473px 703px #fff, 599px 504px #fff,
    901px 1767px #fff, 866px 1285px #fff, 1314px 1028px #fff, 594px 1094px #fff,
    1510px 534px #fff, 1328px 634px #fff, 374px 10px #fff, 509px 1162px #fff,
    1155px 938px #fff, 751px 767px #fff, 301px 1966px #fff, 1916px 1307px #fff,
    51px 114px #fff, 245px 1726px #fff, 866px 787px #fff, 796px 1483px #fff,
    215px 1441px #fff, 39px 157px #fff, 1189px 365px #fff, 1604px 1314px #fff,
    461px 1695px #fff, 37px 327px #fff, 973px 72px #fff, 1430px 221px #fff,
    40px 695px #fff, 1971px 1978px #fff, 640px 17px #fff, 915px 1599px #fff,
    471px 1152px #fff, 665px 1435px #fff, 83px 1509px #fff, 1425px 1567px #fff,
    285px 1252px #fff, 1836px 402px #fff, 1523px 1914px #fff, 1164px 629px #fff,
    1406px 1127px #fff, 1648px 1006px #fff, 1592px 444px #fff, 1033px 444px #fff,
    1021px 419px #fff, 1014px 578px #fff, 671px 623px #fff, 1px 259px #fff,
    1413px 1246px #fff, 1332px 1970px #fff, 97px 1921px #fff, 1582px 1966px #fff,
    1007px 797px #fff, 211px 856px #fff, 1284px 1819px #fff, 392px 1993px #fff,
    454px 1877px #fff, 811px 1217px #fff, 1238px 1686px #fff, 1857px 1533px #fff,
    1329px 966px #fff, 289px 746px #fff, 503px 141px #fff, 55px 819px #fff,
    327px 1312px #fff, 1586px 671px #fff, 1990px 1908px #fff, 1173px 9px #fff,
    1772px 1270px #fff, 342px 546px #fff, 768px 1880px #fff, 563px 1997px #fff,
    1005px 207px #fff, 636px 149px #fff, 1319px 116px #fff, 1004px 1774px #fff,
    357px 683px #fff, 218px 654px #fff, 1448px 1163px #fff, 1545px 220px #fff,
    928px 95px #fff, 814px 1695px #fff, 1725px 1690px #fff, 43px 1195px #fff,
    610px 1303px #fff, 1844px 1587px #fff, 1654px 1728px #fff, 1650px 498px #fff,
    586px 447px #fff, 831px 852px #fff, 217px 1803px #fff, 308px 708px #fff,
    1927px 39px #fff, 1106px 1990px #fff, 52px 724px #fff, 830px 1176px #fff,
    1555px 651px #fff, 1179px 1477px #fff, 1184px 29px #fff, 1414px 256px #fff,
    1381px 1487px #fff, 1419px 509px #fff, 111px 288px #fff, 1961px 729px #fff,
    1789px 333px #fff, 1463px 1898px #fff, 280px 434px #fff, 771px 275px #fff,
    955px 1041px #fff, 328px 869px #fff, 1608px 595px #fff, 1989px 1931px #fff,
    599px 488px #fff, 64px 1551px #fff, 1404px 439px #fff, 11px 918px #fff,
    1573px 506px #fff, 942px 1224px #fff, 261px 1398px #fff, 1485px 1393px #fff,
    1138px 1836px #fff, 1540px 80px #fff, 1462px 1010px #fff, 444px 1412px #fff,
    1498px 1116px #fff, 764px 932px #fff, 1164px 666px #fff, 821px 169px #fff,
    1943px 171px #fff, 877px 448px #fff, 507px 1362px #fff, 1580px 863px #fff,
    619px 855px #fff, 292px 218px #fff, 894px 51px #fff, 1451px 1165px #fff,
    1462px 701px #fff, 820px 672px #fff, 1085px 216px #fff, 917px 568px #fff,
    1656px 933px #fff, 1123px 15px #fff, 704px 594px #fff, 1192px 53px #fff,
    94px 1689px #fff, 377px 1931px #fff, 1375px 517px #fff, 120px 353px #fff,
    244px 297px #fff, 286px 1617px #fff, 1373px 1408px #fff, 1011px 670px #fff,
    877px 630px #fff, 890px 74px #fff, 1685px 1955px #fff, 1586px 889px #fff,
    997px 898px #fff, 725px 885px #fff, 600px 1684px #fff, 180px 296px #fff,
    1893px 909px #fff, 42px 606px #fff, 102px 1356px #fff, 1098px 1676px #fff,
    417px 175px #fff, 1065px 25px #fff, 201px 272px #fff, 1268px 1246px #fff,
    1660px 309px #fff, 1616px 1998px #fff, 1563px 379px #fff, 780px 1408px #fff,
    1001px 1577px #fff, 1260px 736px #fff, 1129px 1401px #fff,
    1789px 1819px #fff, 14px 1406px #fff, 266px 838px #fff, 1302px 920px #fff,
    1856px 1491px #fff, 885px 672px #fff, 612px 151px #fff, 1941px 1660px #fff,
    1269px 1264px #fff, 716px 803px #fff, 1447px 1067px #fff, 154px 1067px #fff,
    909px 1416px #fff, 1539px 1141px #fff, 174px 658px #fff, 310px 1227px #fff,
    4px 112px #fff, 1772px 102px #fff, 905px 1474px #fff, 853px 198px #fff,
    1859px 1349px #fff, 696px 591px #fff, 52px 823px #fff, 517px 1021px #fff,
    1152px 345px #fff, 1509px 364px #fff, 996px 1849px #fff, 498px 488px #fff,
    1397px 1626px #fff, 577px 1186px #fff, 1930px 1963px #fff,
    1961px 1770px #fff, 46px 1649px #fff, 330px 712px #fff, 1319px 134px #fff,
    1931px 1493px #fff, 1239px 430px #fff, 1643px 1992px #fff,
    1633px 1814px #fff, 1626px 1465px #fff, 1221px 15px #fff, 1682px 191px #fff,
    136px 171px #fff, 423px 1429px #fff, 444px 1364px #fff, 766px 207px #fff,
    1342px 341px #fff, 1870px 1630px #fff, 1986px 179px #fff, 478px 503px #fff,
    1791px 1507px #fff, 20px 1256px #fff, 1563px 1433px #fff, 1166px 1268px #fff,
    1562px 924px #fff, 1327px 261px #fff, 244px 1103px #fff, 1392px 198px #fff,
    1501px 551px #fff, 982px 1151px #fff, 591px 1205px #fff, 1971px 22px #fff,
    956px 1366px #fff, 244px 3px #fff, 1546px 759px #fff, 1654px 227px #fff,
    308px 1615px #fff, 513px 843px #fff, 787px 1822px #fff, 839px 72px #fff,
    1185px 92px #fff, 1828px 1350px #fff, 1378px 1294px #fff, 352px 475px #fff,
    1835px 1301px #fff, 200px 426px #fff, 531px 1243px #fff, 530px 809px #fff,
    612px 113px #fff, 460px 1881px #fff, 588px 1109px #fff, 633px 688px #fff,
    485px 1446px #fff, 1243px 1481px #fff, 1240px 1015px #fff, 978px 1750px #fff,
    656px 992px #fff, 1276px 896px #fff, 368px 70px #fff, 1559px 919px #fff,
    1101px 801px #fff, 419px 1857px #fff, 329px 1764px #fff, 1177px 508px #fff,
    56px 1215px #fff, 1407px 1731px #fff, 1323px 44px #fff, 1578px 653px #fff,
    811px 1389px #fff, 1524px 1194px #fff, 1837px 1709px #fff, 867px 1904px #fff,
    158px 1455px #fff, 1100px 1234px #fff, 786px 658px #fff, 1998px 403px #fff,
    993px 1776px #fff, 152px 1315px #fff, 164px 1946px #fff, 1513px 938px #fff,
    582px 1225px #fff, 1677px 1578px #fff, 3px 557px #fff, 684px 1568px #fff,
    962px 1065px #fff, 1171px 763px #fff, 347px 1255px #fff, 1017px 141px #fff,
    1769px 1298px #fff, 1131px 1497px #fff, 747px 1674px #fff, 510px 1329px #fff,
    371px 1810px #fff, 369px 50px #fff, 742px 1230px #fff, 1250px 617px #fff,
    363px 1403px #fff, 664px 210px #fff, 1368px 793px #fff, 250px 553px #fff,
    1152px 489px #fff, 1976px 549px #fff, 1716px 106px #fff, 673px 184px #fff,
    347px 590px #fff, 228px 300px #fff, 726px 734px #fff, 1195px 809px #fff,
    86px 881px #fff, 722px 16px #fff, 1212px 176px #fff, 414px 617px #fff,
    1528px 153px #fff, 528px 1500px #fff, 1124px 778px #fff, 553px 1791px #fff,
    219px 1315px #fff, 1260px 275px #fff, 1412px 1358px #fff, 1769px 436px #fff,
    1623px 659px #fff, 293px 364px #fff, 1114px 256px #fff, 549px 1659px #fff,
    130px 1641px #fff, 329px 803px #fff, 810px 1678px #fff, 208px 1042px #fff,
    1920px 13px #fff, 737px 1541px #fff, 1697px 1836px #fff, 31px 985px #fff,
    1691px 1057px #fff, 78px 430px #fff, 1251px 433px #fff, 1318px 1839px #fff,
    175px 1706px #fff, 1065px 1519px #fff, 1372px 1649px #fff, 336px 402px #fff,
    1483px 1754px #fff, 1013px 723px #fff, 1498px 1474px #fff, 321px 1017px #fff,
    1576px 1219px #fff, 429px 95px #fff, 312px 1638px #fff, 530px 288px #fff,
    435px 447px #fff, 895px 995px #fff, 492px 1741px #fff, 270px 943px #fff,
    1001px 1608px #fff, 1475px 1077px #fff, 1706px 1338px #fff,
    1939px 387px #fff, 1917px 1108px #fff, 1040px 1513px #fff, 1422px 33px #fff,
    1120px 408px #fff, 572px 1304px #fff, 1018px 393px #fff, 1229px 1370px #fff,
    1063px 1839px #fff, 1747px 1629px #fff, 1915px 1039px #fff, 1720px 19px #fff,
    1389px 1414px #fff, 250px 413px #fff, 1891px 1689px #fff, 1826px 743px #fff,
    1032px 1052px #fff, 1710px 836px #fff, 1948px 525px #fff, 1967px 1842px #fff,
    179px 61px #fff, 1836px 1578px #fff, 1865px 462px #fff, 1154px 1567px #fff,
    540px 191px #fff, 751px 694px #fff, 1806px 950px #fff, 1925px 1797px #fff,
    609px 58px #fff, 501px 531px #fff, 90px 17px #fff, 292px 1128px #fff,
    409px 1295px #fff, 19px 719px #fff, 281px 961px #fff, 221px 631px #fff,
    481px 544px #fff, 1022px 996px #fff, 1606px 1354px #fff, 1438px 254px #fff,
    1024px 231px #fff, 1691px 156px #fff, 359px 1320px #fff, 243px 1659px #fff,
    1166px 1906px #fff, 1302px 712px #fff, 1522px 54px #fff, 232px 1749px #fff,
    1341px 433px #fff, 1037px 1211px #fff, 1270px 1228px #fff, 742px 79px #fff,
    1676px 1206px #fff, 1958px 1010px #fff, 1001px 348px #fff, 999px 1425px #fff,
    1504px 1574px #fff, 812px 1780px #fff, 1161px 533px #fff, 282px 1369px #fff,
    1871px 1538px #fff, 103px 687px #fff, 1620px 377px #fff, 327px 1000px #fff,
    361px 969px #fff, 1658px 545px #fff, 1582px 408px #fff, 2px 1349px #fff,
    699px 230px #fff, 1355px 307px #fff, 1356px 1859px #fff, 131px 626px #fff,
    1853px 1121px #fff, 928px 223px #fff, 253px 1759px #fff, 1699px 1158px #fff,
    763px 1822px #fff, 1260px 964px #fff, 848px 479px #fff, 1959px 1204px #fff,
    501px 367px #fff, 1917px 505px #fff, 966px 449px #fff, 1206px 1911px #fff,
    571px 720px #fff, 49px 407px #fff, 82px 879px #fff, 1548px 839px #fff,
    518px 405px #fff, 94px 465px #fff, 750px 1571px #fff, 477px 1840px #fff,
    1903px 1733px #fff, 1292px 347px #fff, 1763px 855px #fff, 1322px 250px #fff,
    1833px 436px #fff, 40px 1325px #fff, 1096px 1609px #fff, 269px 984px #fff,
    1350px 990px #fff, 1433px 1920px #fff, 1640px 1910px #fff,
    1238px 1296px #fff, 1570px 15px #fff, 368px 1925px #fff, 1229px 1054px #fff,
    468px 849px #fff, 914px 959px #fff, 1758px 1490px #fff, 1390px 999px #fff,
    1514px 628px #fff, 459px 1225px #fff, 1213px 416px #fff, 289px 167px #fff,
    202px 169px #fff, 241px 1928px #fff, 61px 532px #fff, 1186px 104px #fff,
    1837px 1761px #fff, 422px 547px #fff, 821px 310px #fff, 1532px 215px #fff,
    403px 1433px #fff, 154px 771px #fff, 1996px 281px #fff, 1983px 847px #fff,
    639px 466px #fff, 1262px 1627px #fff, 157px 1426px #fff, 1721px 1492px #fff,
    96px 1719px #fff, 969px 517px #fff, 1923px 621px #fff, 744px 948px #fff,
    601px 781px #fff, 934px 820px #fff, 80px 1228px #fff, 177px 1905px #fff,
    1075px 1033px #fff, 570px 1911px #fff, 1670px 388px #fff, 25px 77px #fff,
    547px 790px #fff, 762px 961px #fff, 1547px 212px #fff, 1137px 1284px #fff,
    1698px 1161px #fff, 891px 1718px #fff, 851px 559px #fff, 1240px 601px #fff,
    482px 1594px #fff, 1294px 1491px #fff, 1615px 166px #fff, 1617px 1477px #fff,
    1493px 1463px #fff, 569px 839px #fff, 1107px 440px #fff, 735px 1999px #fff,
    1855px 441px #fff, 218px 1025px #fff, 1924px 1361px #fff, 1456px 709px #fff,
    1421px 91px #fff, 730px 715px #fff, 1289px 1511px #fff, 996px 1053px #fff,
    437px 1700px #fff, 1252px 1747px #fff, 1764px 111px #fff, 121px 457px #fff,
    770px 1137px #fff, 1150px 863px #fff, 1308px 1718px #fff, 890px 1572px #fff,
    733px 1696px #fff, 232px 1177px #fff, 1990px 367px #fff, 713px 1847px #fff,
    1983px 1250px #fff, 796px 354px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1312px 448px #fff, 1773px 89px #fff, 334px 1978px #fff,
    1823px 1291px #fff, 135px 288px #fff, 1028px 1821px #fff, 1923px 1848px #fff,
    97px 1195px #fff, 1438px 1404px #fff, 747px 1963px #fff, 94px 1354px #fff,
    1181px 1948px #fff, 1212px 612px #fff, 269px 1530px #fff, 147px 590px #fff,
    1333px 458px #fff, 123px 1900px #fff, 1642px 373px #fff, 434px 1739px #fff,
    839px 591px #fff, 1662px 1685px #fff, 1067px 212px #fff, 1252px 1604px #fff,
    1066px 1112px #fff, 1759px 511px #fff, 1404px 213px #fff, 301px 585px #fff,
    801px 1101px #fff, 811px 40px #fff, 485px 652px #fff, 1134px 1901px #fff,
    848px 1770px #fff, 826px 845px #fff, 548px 1572px #fff, 1945px 1715px #fff,
    1178px 1482px #fff, 1908px 249px #fff, 1526px 817px #fff, 1658px 1408px #fff,
    801px 818px #fff, 359px 203px #fff, 1349px 773px #fff, 49px 655px #fff,
    904px 1859px #fff, 463px 1555px #fff, 445px 99px #fff, 177px 219px #fff,
    230px 500px #fff, 1666px 727px #fff, 1739px 1741px #fff, 1412px 1040px #fff,
    824px 303px #fff, 758px 131px #fff, 456px 1421px #fff, 488px 202px #fff,
    1409px 1570px #fff, 1087px 1114px #fff, 1755px 148px #fff, 358px 1412px #fff,
    204px 123px #fff, 145px 1172px #fff, 955px 1552px #fff, 998px 795px #fff,
    317px 174px #fff, 1499px 230px #fff, 1184px 1629px #fff, 1616px 1248px #fff,
    1297px 314px #fff, 772px 547px #fff, 827px 1093px #fff, 1314px 1410px #fff,
    1111px 125px #fff, 223px 1508px #fff, 443px 309px #fff, 1993px 1002px #fff,
    460px 990px #fff, 876px 1026px #fff, 1081px 968px #fff, 1662px 1470px #fff,
    1674px 1860px #fff, 179px 1528px #fff, 1081px 579px #fff, 483px 1875px #fff,
    1810px 151px #fff, 584px 1308px #fff, 412px 1348px #fff, 1117px 1065px #fff,
    459px 1274px #fff, 449px 413px #fff, 1826px 1160px #fff, 18px 1429px #fff,
    1774px 889px #fff, 742px 378px #fff, 1948px 572px #fff, 1993px 1363px #fff,
    868px 298px #fff, 1837px 294px #fff, 851px 456px #fff, 432px 1720px #fff,
    1885px 59px #fff, 28px 1031px #fff, 1115px 148px #fff, 173px 441px #fff,
    1808px 248px #fff, 363px 1898px #fff, 1614px 945px #fff, 1873px 1252px #fff,
    103px 228px #fff, 66px 275px #fff, 484px 422px #fff, 957px 1311px #fff,
    1946px 44px #fff, 990px 1189px #fff, 588px 579px #fff, 153px 424px #fff,
    1307px 643px #fff, 1072px 770px #fff, 420px 1771px #fff, 142px 649px #fff,
    23px 323px #fff, 991px 1994px #fff, 964px 14px #fff, 1640px 414px #fff,
    689px 250px #fff, 852px 744px #fff, 291px 915px #fff, 483px 161px #fff,
    1538px 1899px #fff, 823px 712px #fff, 1059px 436px #fff, 124px 95px #fff,
    1584px 1016px #fff, 528px 1145px #fff, 1583px 985px #fff, 1300px 1183px #fff,
    1106px 360px #fff, 1085px 1872px #fff, 443px 1880px #fff, 7px 618px #fff,
    336px 369px #fff, 1422px 1569px #fff, 835px 459px #fff, 1950px 1517px #fff,
    46px 1491px #fff, 1497px 305px #fff, 311px 13px #fff, 557px 223px #fff,
    1226px 1641px #fff, 1839px 1414px #fff, 1731px 693px #fff, 1922px 886px #fff,
    357px 379px #fff, 1370px 551px #fff, 243px 1996px #fff, 33px 138px #fff,
    1476px 1429px #fff, 1971px 310px #fff, 1770px 757px #fff, 1774px 1185px #fff,
    84px 1534px #fff, 1620px 1177px #fff, 1473px 703px #fff, 599px 504px #fff,
    901px 1767px #fff, 866px 1285px #fff, 1314px 1028px #fff, 594px 1094px #fff,
    1510px 534px #fff, 1328px 634px #fff, 374px 10px #fff, 509px 1162px #fff,
    1155px 938px #fff, 751px 767px #fff, 301px 1966px #fff, 1916px 1307px #fff,
    51px 114px #fff, 245px 1726px #fff, 866px 787px #fff, 796px 1483px #fff,
    215px 1441px #fff, 39px 157px #fff, 1189px 365px #fff, 1604px 1314px #fff,
    461px 1695px #fff, 37px 327px #fff, 973px 72px #fff, 1430px 221px #fff,
    40px 695px #fff, 1971px 1978px #fff, 640px 17px #fff, 915px 1599px #fff,
    471px 1152px #fff, 665px 1435px #fff, 83px 1509px #fff, 1425px 1567px #fff,
    285px 1252px #fff, 1836px 402px #fff, 1523px 1914px #fff, 1164px 629px #fff,
    1406px 1127px #fff, 1648px 1006px #fff, 1592px 444px #fff, 1033px 444px #fff,
    1021px 419px #fff, 1014px 578px #fff, 671px 623px #fff, 1px 259px #fff,
    1413px 1246px #fff, 1332px 1970px #fff, 97px 1921px #fff, 1582px 1966px #fff,
    1007px 797px #fff, 211px 856px #fff, 1284px 1819px #fff, 392px 1993px #fff,
    454px 1877px #fff, 811px 1217px #fff, 1238px 1686px #fff, 1857px 1533px #fff,
    1329px 966px #fff, 289px 746px #fff, 503px 141px #fff, 55px 819px #fff,
    327px 1312px #fff, 1586px 671px #fff, 1990px 1908px #fff, 1173px 9px #fff,
    1772px 1270px #fff, 342px 546px #fff, 768px 1880px #fff, 563px 1997px #fff,
    1005px 207px #fff, 636px 149px #fff, 1319px 116px #fff, 1004px 1774px #fff,
    357px 683px #fff, 218px 654px #fff, 1448px 1163px #fff, 1545px 220px #fff,
    928px 95px #fff, 814px 1695px #fff, 1725px 1690px #fff, 43px 1195px #fff,
    610px 1303px #fff, 1844px 1587px #fff, 1654px 1728px #fff, 1650px 498px #fff,
    586px 447px #fff, 831px 852px #fff, 217px 1803px #fff, 308px 708px #fff,
    1927px 39px #fff, 1106px 1990px #fff, 52px 724px #fff, 830px 1176px #fff,
    1555px 651px #fff, 1179px 1477px #fff, 1184px 29px #fff, 1414px 256px #fff,
    1381px 1487px #fff, 1419px 509px #fff, 111px 288px #fff, 1961px 729px #fff,
    1789px 333px #fff, 1463px 1898px #fff, 280px 434px #fff, 771px 275px #fff,
    955px 1041px #fff, 328px 869px #fff, 1608px 595px #fff, 1989px 1931px #fff,
    599px 488px #fff, 64px 1551px #fff, 1404px 439px #fff, 11px 918px #fff,
    1573px 506px #fff, 942px 1224px #fff, 261px 1398px #fff, 1485px 1393px #fff,
    1138px 1836px #fff, 1540px 80px #fff, 1462px 1010px #fff, 444px 1412px #fff,
    1498px 1116px #fff, 764px 932px #fff, 1164px 666px #fff, 821px 169px #fff,
    1943px 171px #fff, 877px 448px #fff, 507px 1362px #fff, 1580px 863px #fff,
    619px 855px #fff, 292px 218px #fff, 894px 51px #fff, 1451px 1165px #fff,
    1462px 701px #fff, 820px 672px #fff, 1085px 216px #fff, 917px 568px #fff,
    1656px 933px #fff, 1123px 15px #fff, 704px 594px #fff, 1192px 53px #fff,
    94px 1689px #fff, 377px 1931px #fff, 1375px 517px #fff, 120px 353px #fff,
    244px 297px #fff, 286px 1617px #fff, 1373px 1408px #fff, 1011px 670px #fff,
    877px 630px #fff, 890px 74px #fff, 1685px 1955px #fff, 1586px 889px #fff,
    997px 898px #fff, 725px 885px #fff, 600px 1684px #fff, 180px 296px #fff,
    1893px 909px #fff, 42px 606px #fff, 102px 1356px #fff, 1098px 1676px #fff,
    417px 175px #fff, 1065px 25px #fff, 201px 272px #fff, 1268px 1246px #fff,
    1660px 309px #fff, 1616px 1998px #fff, 1563px 379px #fff, 780px 1408px #fff,
    1001px 1577px #fff, 1260px 736px #fff, 1129px 1401px #fff,
    1789px 1819px #fff, 14px 1406px #fff, 266px 838px #fff, 1302px 920px #fff,
    1856px 1491px #fff, 885px 672px #fff, 612px 151px #fff, 1941px 1660px #fff,
    1269px 1264px #fff, 716px 803px #fff, 1447px 1067px #fff, 154px 1067px #fff,
    909px 1416px #fff, 1539px 1141px #fff, 174px 658px #fff, 310px 1227px #fff,
    4px 112px #fff, 1772px 102px #fff, 905px 1474px #fff, 853px 198px #fff,
    1859px 1349px #fff, 696px 591px #fff, 52px 823px #fff, 517px 1021px #fff,
    1152px 345px #fff, 1509px 364px #fff, 996px 1849px #fff, 498px 488px #fff,
    1397px 1626px #fff, 577px 1186px #fff, 1930px 1963px #fff,
    1961px 1770px #fff, 46px 1649px #fff, 330px 712px #fff, 1319px 134px #fff,
    1931px 1493px #fff, 1239px 430px #fff, 1643px 1992px #fff,
    1633px 1814px #fff, 1626px 1465px #fff, 1221px 15px #fff, 1682px 191px #fff,
    136px 171px #fff, 423px 1429px #fff, 444px 1364px #fff, 766px 207px #fff,
    1342px 341px #fff, 1870px 1630px #fff, 1986px 179px #fff, 478px 503px #fff,
    1791px 1507px #fff, 20px 1256px #fff, 1563px 1433px #fff, 1166px 1268px #fff,
    1562px 924px #fff, 1327px 261px #fff, 244px 1103px #fff, 1392px 198px #fff,
    1501px 551px #fff, 982px 1151px #fff, 591px 1205px #fff, 1971px 22px #fff,
    956px 1366px #fff, 244px 3px #fff, 1546px 759px #fff, 1654px 227px #fff,
    308px 1615px #fff, 513px 843px #fff, 787px 1822px #fff, 839px 72px #fff,
    1185px 92px #fff, 1828px 1350px #fff, 1378px 1294px #fff, 352px 475px #fff,
    1835px 1301px #fff, 200px 426px #fff, 531px 1243px #fff, 530px 809px #fff,
    612px 113px #fff, 460px 1881px #fff, 588px 1109px #fff, 633px 688px #fff,
    485px 1446px #fff, 1243px 1481px #fff, 1240px 1015px #fff, 978px 1750px #fff,
    656px 992px #fff, 1276px 896px #fff, 368px 70px #fff, 1559px 919px #fff,
    1101px 801px #fff, 419px 1857px #fff, 329px 1764px #fff, 1177px 508px #fff,
    56px 1215px #fff, 1407px 1731px #fff, 1323px 44px #fff, 1578px 653px #fff,
    811px 1389px #fff, 1524px 1194px #fff, 1837px 1709px #fff, 867px 1904px #fff,
    158px 1455px #fff, 1100px 1234px #fff, 786px 658px #fff, 1998px 403px #fff,
    993px 1776px #fff, 152px 1315px #fff, 164px 1946px #fff, 1513px 938px #fff,
    582px 1225px #fff, 1677px 1578px #fff, 3px 557px #fff, 684px 1568px #fff,
    962px 1065px #fff, 1171px 763px #fff, 347px 1255px #fff, 1017px 141px #fff,
    1769px 1298px #fff, 1131px 1497px #fff, 747px 1674px #fff, 510px 1329px #fff,
    371px 1810px #fff, 369px 50px #fff, 742px 1230px #fff, 1250px 617px #fff,
    363px 1403px #fff, 664px 210px #fff, 1368px 793px #fff, 250px 553px #fff,
    1152px 489px #fff, 1976px 549px #fff, 1716px 106px #fff, 673px 184px #fff,
    347px 590px #fff, 228px 300px #fff, 726px 734px #fff, 1195px 809px #fff,
    86px 881px #fff, 722px 16px #fff, 1212px 176px #fff, 414px 617px #fff,
    1528px 153px #fff, 528px 1500px #fff, 1124px 778px #fff, 553px 1791px #fff,
    219px 1315px #fff, 1260px 275px #fff, 1412px 1358px #fff, 1769px 436px #fff,
    1623px 659px #fff, 293px 364px #fff, 1114px 256px #fff, 549px 1659px #fff,
    130px 1641px #fff, 329px 803px #fff, 810px 1678px #fff, 208px 1042px #fff,
    1920px 13px #fff, 737px 1541px #fff, 1697px 1836px #fff, 31px 985px #fff,
    1691px 1057px #fff, 78px 430px #fff, 1251px 433px #fff, 1318px 1839px #fff,
    175px 1706px #fff, 1065px 1519px #fff, 1372px 1649px #fff, 336px 402px #fff,
    1483px 1754px #fff, 1013px 723px #fff, 1498px 1474px #fff, 321px 1017px #fff,
    1576px 1219px #fff, 429px 95px #fff, 312px 1638px #fff, 530px 288px #fff,
    435px 447px #fff, 895px 995px #fff, 492px 1741px #fff, 270px 943px #fff,
    1001px 1608px #fff, 1475px 1077px #fff, 1706px 1338px #fff,
    1939px 387px #fff, 1917px 1108px #fff, 1040px 1513px #fff, 1422px 33px #fff,
    1120px 408px #fff, 572px 1304px #fff, 1018px 393px #fff, 1229px 1370px #fff,
    1063px 1839px #fff, 1747px 1629px #fff, 1915px 1039px #fff, 1720px 19px #fff,
    1389px 1414px #fff, 250px 413px #fff, 1891px 1689px #fff, 1826px 743px #fff,
    1032px 1052px #fff, 1710px 836px #fff, 1948px 525px #fff, 1967px 1842px #fff,
    179px 61px #fff, 1836px 1578px #fff, 1865px 462px #fff, 1154px 1567px #fff,
    540px 191px #fff, 751px 694px #fff, 1806px 950px #fff, 1925px 1797px #fff,
    609px 58px #fff, 501px 531px #fff, 90px 17px #fff, 292px 1128px #fff,
    409px 1295px #fff, 19px 719px #fff, 281px 961px #fff, 221px 631px #fff,
    481px 544px #fff, 1022px 996px #fff, 1606px 1354px #fff, 1438px 254px #fff,
    1024px 231px #fff, 1691px 156px #fff, 359px 1320px #fff, 243px 1659px #fff,
    1166px 1906px #fff, 1302px 712px #fff, 1522px 54px #fff, 232px 1749px #fff,
    1341px 433px #fff, 1037px 1211px #fff, 1270px 1228px #fff, 742px 79px #fff,
    1676px 1206px #fff, 1958px 1010px #fff, 1001px 348px #fff, 999px 1425px #fff,
    1504px 1574px #fff, 812px 1780px #fff, 1161px 533px #fff, 282px 1369px #fff,
    1871px 1538px #fff, 103px 687px #fff, 1620px 377px #fff, 327px 1000px #fff,
    361px 969px #fff, 1658px 545px #fff, 1582px 408px #fff, 2px 1349px #fff,
    699px 230px #fff, 1355px 307px #fff, 1356px 1859px #fff, 131px 626px #fff,
    1853px 1121px #fff, 928px 223px #fff, 253px 1759px #fff, 1699px 1158px #fff,
    763px 1822px #fff, 1260px 964px #fff, 848px 479px #fff, 1959px 1204px #fff,
    501px 367px #fff, 1917px 505px #fff, 966px 449px #fff, 1206px 1911px #fff,
    571px 720px #fff, 49px 407px #fff, 82px 879px #fff, 1548px 839px #fff,
    518px 405px #fff, 94px 465px #fff, 750px 1571px #fff, 477px 1840px #fff,
    1903px 1733px #fff, 1292px 347px #fff, 1763px 855px #fff, 1322px 250px #fff,
    1833px 436px #fff, 40px 1325px #fff, 1096px 1609px #fff, 269px 984px #fff,
    1350px 990px #fff, 1433px 1920px #fff, 1640px 1910px #fff,
    1238px 1296px #fff, 1570px 15px #fff, 368px 1925px #fff, 1229px 1054px #fff,
    468px 849px #fff, 914px 959px #fff, 1758px 1490px #fff, 1390px 999px #fff,
    1514px 628px #fff, 459px 1225px #fff, 1213px 416px #fff, 289px 167px #fff,
    202px 169px #fff, 241px 1928px #fff, 61px 532px #fff, 1186px 104px #fff,
    1837px 1761px #fff, 422px 547px #fff, 821px 310px #fff, 1532px 215px #fff,
    403px 1433px #fff, 154px 771px #fff, 1996px 281px #fff, 1983px 847px #fff,
    639px 466px #fff, 1262px 1627px #fff, 157px 1426px #fff, 1721px 1492px #fff,
    96px 1719px #fff, 969px 517px #fff, 1923px 621px #fff, 744px 948px #fff,
    601px 781px #fff, 934px 820px #fff, 80px 1228px #fff, 177px 1905px #fff,
    1075px 1033px #fff, 570px 1911px #fff, 1670px 388px #fff, 25px 77px #fff,
    547px 790px #fff, 762px 961px #fff, 1547px 212px #fff, 1137px 1284px #fff,
    1698px 1161px #fff, 891px 1718px #fff, 851px 559px #fff, 1240px 601px #fff,
    482px 1594px #fff, 1294px 1491px #fff, 1615px 166px #fff, 1617px 1477px #fff,
    1493px 1463px #fff, 569px 839px #fff, 1107px 440px #fff, 735px 1999px #fff,
    1855px 441px #fff, 218px 1025px #fff, 1924px 1361px #fff, 1456px 709px #fff,
    1421px 91px #fff, 730px 715px #fff, 1289px 1511px #fff, 996px 1053px #fff,
    437px 1700px #fff, 1252px 1747px #fff, 1764px 111px #fff, 121px 457px #fff,
    770px 1137px #fff, 1150px 863px #fff, 1308px 1718px #fff, 890px 1572px #fff,
    733px 1696px #fff, 232px 1177px #fff, 1990px 367px #fff, 713px 1847px #fff,
    1983px 1250px #fff, 796px 354px #fff;
}

#stars2 {
  overflow: hidden;
  z-index: 2;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 449px 387px #fff, 837px 336px #fff, 1224px 1443px #fff,
    236px 107px #fff, 386px 896px #fff, 1807px 1014px #fff, 1989px 546px #fff,
    782px 930px #fff, 1378px 1554px #fff, 1881px 1937px #fff, 104px 1353px #fff,
    1640px 1315px #fff, 1782px 1924px #fff, 297px 683px #fff, 1201px 74px #fff,
    1362px 1458px #fff, 1153px 816px #fff, 1834px 1263px #fff, 247px 1395px #fff,
    643px 289px #fff, 113px 349px #fff, 1280px 483px #fff, 1069px 140px #fff,
    1193px 223px #fff, 1452px 77px #fff, 742px 321px #fff, 328px 1917px #fff,
    1472px 1385px #fff, 449px 173px #fff, 22px 1959px #fff, 577px 1656px #fff,
    1278px 1681px #fff, 889px 1381px #fff, 1022px 466px #fff, 1177px 1458px #fff,
    317px 1975px #fff, 416px 746px #fff, 1066px 1761px #fff, 1838px 1296px #fff,
    569px 170px #fff, 628px 1189px #fff, 980px 1080px #fff, 1599px 1917px #fff,
    1495px 1886px #fff, 803px 1770px #fff, 429px 1513px #fff, 1724px 1419px #fff,
    987px 361px #fff, 1137px 586px #fff, 422px 176px #fff, 89px 1928px #fff,
    590px 285px #fff, 1022px 1363px #fff, 520px 805px #fff, 1005px 1916px #fff,
    1436px 1899px #fff, 56px 1818px #fff, 1875px 598px #fff, 1587px 1497px #fff,
    711px 1945px #fff, 1659px 17px #fff, 1568px 1349px #fff, 461px 703px #fff,
    1996px 1345px #fff, 441px 206px #fff, 232px 31px #fff, 1372px 891px #fff,
    76px 728px #fff, 1194px 633px #fff, 1130px 567px #fff, 1032px 937px #fff,
    651px 179px #fff, 1782px 19px #fff, 584px 112px #fff, 282px 1950px #fff,
    1022px 1457px #fff, 1429px 920px #fff, 1390px 1927px #fff,
    1831px 1175px #fff, 1570px 1327px #fff, 123px 688px #fff, 555px 4px #fff,
    1548px 1842px #fff, 65px 1476px #fff, 121px 189px #fff, 1428px 1984px #fff,
    657px 167px #fff, 986px 1621px #fff, 1644px 284px #fff, 1860px 1207px #fff,
    643px 1428px #fff, 228px 528px #fff, 1371px 499px #fff, 958px 977px #fff,
    1220px 1266px #fff, 1901px 1700px #fff, 675px 1568px #fff,
    1988px 1634px #fff, 1160px 1182px #fff, 1637px 528px #fff, 86px 1359px #fff,
    1238px 1619px #fff, 366px 690px #fff, 747px 722px #fff, 1519px 828px #fff,
    1264px 450px #fff, 1501px 755px #fff, 1110px 1974px #fff, 529px 860px #fff,
    726px 602px #fff, 215px 1565px #fff, 1915px 1214px #fff, 1894px 249px #fff,
    73px 656px #fff, 1443px 1862px #fff, 743px 1339px #fff, 1612px 938px #fff,
    979px 1384px #fff, 300px 1210px #fff, 1106px 1722px #fff, 496px 872px #fff,
    577px 1131px #fff, 633px 128px #fff, 468px 927px #fff, 1755px 324px #fff,
    1114px 472px #fff, 1693px 1016px #fff, 1800px 143px #fff, 1496px 920px #fff,
    136px 1344px #fff, 345px 63px #fff, 277px 1214px #fff, 13px 1930px #fff,
    1047px 220px #fff, 1690px 1000px #fff, 972px 31px #fff, 1931px 643px #fff,
    99px 797px #fff, 1658px 1268px #fff, 1114px 690px #fff, 1724px 1636px #fff,
    796px 1851px #fff, 146px 950px #fff, 1081px 869px #fff, 743px 904px #fff,
    708px 256px #fff, 1835px 1853px #fff, 167px 164px #fff, 1810px 592px #fff,
    757px 1188px #fff, 12px 1595px #fff, 813px 189px #fff, 197px 1368px #fff,
    1347px 250px #fff, 263px 1783px #fff, 709px 436px #fff, 1433px 1959px #fff,
    1496px 1863px #fff, 1340px 1606px #fff, 191px 817px #fff, 1114px 981px #fff,
    402px 54px #fff, 656px 413px #fff, 1784px 1412px #fff, 1428px 1927px #fff,
    406px 1017px #fff, 1244px 1659px #fff, 1642px 1472px #fff,
    1721px 1930px #fff, 1422px 1683px #fff, 1398px 1010px #fff,
    1236px 627px #fff, 578px 1869px #fff, 287px 1354px #fff, 1971px 670px #fff,
    535px 1130px #fff, 365px 1962px #fff, 1489px 903px #fff, 280px 980px #fff,
    15px 432px #fff, 717px 1287px #fff, 96px 1408px #fff, 1733px 399px #fff,
    81px 951px #fff, 195px 1502px #fff, 1892px 550px #fff, 1661px 1151px #fff,
    1306px 383px #fff, 792px 1810px #fff, 399px 1977px #fff, 861px 366px #fff,
    1965px 1241px #fff, 1044px 248px #fff, 834px 116px #fff, 244px 323px #fff,
    414px 382px #fff, 1859px 1389px #fff, 602px 476px #fff, 929px 528px #fff,
    64px 883px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 449px 387px #fff, 837px 336px #fff, 1224px 1443px #fff,
    236px 107px #fff, 386px 896px #fff, 1807px 1014px #fff, 1989px 546px #fff,
    782px 930px #fff, 1378px 1554px #fff, 1881px 1937px #fff, 104px 1353px #fff,
    1640px 1315px #fff, 1782px 1924px #fff, 297px 683px #fff, 1201px 74px #fff,
    1362px 1458px #fff, 1153px 816px #fff, 1834px 1263px #fff, 247px 1395px #fff,
    643px 289px #fff, 113px 349px #fff, 1280px 483px #fff, 1069px 140px #fff,
    1193px 223px #fff, 1452px 77px #fff, 742px 321px #fff, 328px 1917px #fff,
    1472px 1385px #fff, 449px 173px #fff, 22px 1959px #fff, 577px 1656px #fff,
    1278px 1681px #fff, 889px 1381px #fff, 1022px 466px #fff, 1177px 1458px #fff,
    317px 1975px #fff, 416px 746px #fff, 1066px 1761px #fff, 1838px 1296px #fff,
    569px 170px #fff, 628px 1189px #fff, 980px 1080px #fff, 1599px 1917px #fff,
    1495px 1886px #fff, 803px 1770px #fff, 429px 1513px #fff, 1724px 1419px #fff,
    987px 361px #fff, 1137px 586px #fff, 422px 176px #fff, 89px 1928px #fff,
    590px 285px #fff, 1022px 1363px #fff, 520px 805px #fff, 1005px 1916px #fff,
    1436px 1899px #fff, 56px 1818px #fff, 1875px 598px #fff, 1587px 1497px #fff,
    711px 1945px #fff, 1659px 17px #fff, 1568px 1349px #fff, 461px 703px #fff,
    1996px 1345px #fff, 441px 206px #fff, 232px 31px #fff, 1372px 891px #fff,
    76px 728px #fff, 1194px 633px #fff, 1130px 567px #fff, 1032px 937px #fff,
    651px 179px #fff, 1782px 19px #fff, 584px 112px #fff, 282px 1950px #fff,
    1022px 1457px #fff, 1429px 920px #fff, 1390px 1927px #fff,
    1831px 1175px #fff, 1570px 1327px #fff, 123px 688px #fff, 555px 4px #fff,
    1548px 1842px #fff, 65px 1476px #fff, 121px 189px #fff, 1428px 1984px #fff,
    657px 167px #fff, 986px 1621px #fff, 1644px 284px #fff, 1860px 1207px #fff,
    643px 1428px #fff, 228px 528px #fff, 1371px 499px #fff, 958px 977px #fff,
    1220px 1266px #fff, 1901px 1700px #fff, 675px 1568px #fff,
    1988px 1634px #fff, 1160px 1182px #fff, 1637px 528px #fff, 86px 1359px #fff,
    1238px 1619px #fff, 366px 690px #fff, 747px 722px #fff, 1519px 828px #fff,
    1264px 450px #fff, 1501px 755px #fff, 1110px 1974px #fff, 529px 860px #fff,
    726px 602px #fff, 215px 1565px #fff, 1915px 1214px #fff, 1894px 249px #fff,
    73px 656px #fff, 1443px 1862px #fff, 743px 1339px #fff, 1612px 938px #fff,
    979px 1384px #fff, 300px 1210px #fff, 1106px 1722px #fff, 496px 872px #fff,
    577px 1131px #fff, 633px 128px #fff, 468px 927px #fff, 1755px 324px #fff,
    1114px 472px #fff, 1693px 1016px #fff, 1800px 143px #fff, 1496px 920px #fff,
    136px 1344px #fff, 345px 63px #fff, 277px 1214px #fff, 13px 1930px #fff,
    1047px 220px #fff, 1690px 1000px #fff, 972px 31px #fff, 1931px 643px #fff,
    99px 797px #fff, 1658px 1268px #fff, 1114px 690px #fff, 1724px 1636px #fff,
    796px 1851px #fff, 146px 950px #fff, 1081px 869px #fff, 743px 904px #fff,
    708px 256px #fff, 1835px 1853px #fff, 167px 164px #fff, 1810px 592px #fff,
    757px 1188px #fff, 12px 1595px #fff, 813px 189px #fff, 197px 1368px #fff,
    1347px 250px #fff, 263px 1783px #fff, 709px 436px #fff, 1433px 1959px #fff,
    1496px 1863px #fff, 1340px 1606px #fff, 191px 817px #fff, 1114px 981px #fff,
    402px 54px #fff, 656px 413px #fff, 1784px 1412px #fff, 1428px 1927px #fff,
    406px 1017px #fff, 1244px 1659px #fff, 1642px 1472px #fff,
    1721px 1930px #fff, 1422px 1683px #fff, 1398px 1010px #fff,
    1236px 627px #fff, 578px 1869px #fff, 287px 1354px #fff, 1971px 670px #fff,
    535px 1130px #fff, 365px 1962px #fff, 1489px 903px #fff, 280px 980px #fff,
    15px 432px #fff, 717px 1287px #fff, 96px 1408px #fff, 1733px 399px #fff,
    81px 951px #fff, 195px 1502px #fff, 1892px 550px #fff, 1661px 1151px #fff,
    1306px 383px #fff, 792px 1810px #fff, 399px 1977px #fff, 861px 366px #fff,
    1965px 1241px #fff, 1044px 248px #fff, 834px 116px #fff, 244px 323px #fff,
    414px 382px #fff, 1859px 1389px #fff, 602px 476px #fff, 929px 528px #fff,
    64px 883px #fff;
}

#stars3 {
  overflow: hidden;
  z-index: 2;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1536px 341px #fff, 1718px 870px #fff, 1696px 1995px #fff,
    1889px 1313px #fff, 1816px 1982px #fff, 657px 1011px #fff, 714px 1484px #fff,
    1779px 761px #fff, 684px 915px #fff, 1460px 221px #fff, 1404px 1513px #fff,
    1267px 1055px #fff, 338px 1877px #fff, 644px 703px #fff, 1814px 1531px #fff,
    1562px 1823px #fff, 1555px 388px #fff, 406px 1287px #fff, 696px 1951px #fff,
    1326px 101px #fff, 77px 614px #fff, 1424px 536px #fff, 190px 559px #fff,
    568px 37px #fff, 811px 1204px #fff, 1064px 1678px #fff, 594px 1956px #fff,
    549px 1629px #fff, 133px 70px #fff, 1771px 863px #fff, 975px 714px #fff,
    418px 1010px #fff, 175px 398px #fff, 978px 1197px #fff, 844px 851px #fff,
    1415px 1139px #fff, 661px 1556px #fff, 121px 1934px #fff, 464px 472px #fff,
    924px 26px #fff, 1017px 1656px #fff, 1880px 260px #fff, 1249px 1886px #fff,
    1876px 1007px #fff, 26px 1765px #fff, 328px 1895px #fff, 999px 1454px #fff,
    1140px 1110px #fff, 502px 236px #fff, 1452px 1920px #fff, 422px 525px #fff,
    1666px 1558px #fff, 54px 66px #fff, 1016px 469px #fff, 1297px 37px #fff,
    791px 364px #fff, 486px 791px #fff, 3px 1758px #fff, 1611px 1171px #fff,
    1921px 641px #fff, 1579px 1232px #fff, 953px 87px #fff, 217px 1059px #fff,
    1420px 75px #fff, 1848px 955px #fff, 4px 582px #fff, 258px 992px #fff,
    646px 356px #fff, 1099px 1844px #fff, 457px 522px #fff, 54px 535px #fff,
    803px 832px #fff, 1180px 935px #fff, 725px 717px #fff, 417px 281px #fff,
    1872px 696px #fff, 300px 1282px #fff, 1461px 57px #fff, 314px 997px #fff,
    925px 1668px #fff, 735px 1624px #fff, 1976px 1909px #fff, 1700px 1230px #fff,
    921px 888px #fff, 1389px 1709px #fff, 194px 1824px #fff, 1380px 366px #fff,
    304px 881px #fff, 1797px 1094px #fff, 1882px 1453px #fff, 39px 1615px #fff,
    1223px 330px #fff, 1184px 1068px #fff, 209px 592px #fff, 1556px 278px #fff,
    1110px 1315px #fff, 1823px 5px #fff, 1308px 489px #fff, 966px 1501px #fff,
    1648px 357px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1536px 341px #fff, 1718px 870px #fff, 1696px 1995px #fff,
    1889px 1313px #fff, 1816px 1982px #fff, 657px 1011px #fff, 714px 1484px #fff,
    1779px 761px #fff, 684px 915px #fff, 1460px 221px #fff, 1404px 1513px #fff,
    1267px 1055px #fff, 338px 1877px #fff, 644px 703px #fff, 1814px 1531px #fff,
    1562px 1823px #fff, 1555px 388px #fff, 406px 1287px #fff, 696px 1951px #fff,
    1326px 101px #fff, 77px 614px #fff, 1424px 536px #fff, 190px 559px #fff,
    568px 37px #fff, 811px 1204px #fff, 1064px 1678px #fff, 594px 1956px #fff,
    549px 1629px #fff, 133px 70px #fff, 1771px 863px #fff, 975px 714px #fff,
    418px 1010px #fff, 175px 398px #fff, 978px 1197px #fff, 844px 851px #fff,
    1415px 1139px #fff, 661px 1556px #fff, 121px 1934px #fff, 464px 472px #fff,
    924px 26px #fff, 1017px 1656px #fff, 1880px 260px #fff, 1249px 1886px #fff,
    1876px 1007px #fff, 26px 1765px #fff, 328px 1895px #fff, 999px 1454px #fff,
    1140px 1110px #fff, 502px 236px #fff, 1452px 1920px #fff, 422px 525px #fff,
    1666px 1558px #fff, 54px 66px #fff, 1016px 469px #fff, 1297px 37px #fff,
    791px 364px #fff, 486px 791px #fff, 3px 1758px #fff, 1611px 1171px #fff,
    1921px 641px #fff, 1579px 1232px #fff, 953px 87px #fff, 217px 1059px #fff,
    1420px 75px #fff, 1848px 955px #fff, 4px 582px #fff, 258px 992px #fff,
    646px 356px #fff, 1099px 1844px #fff, 457px 522px #fff, 54px 535px #fff,
    803px 832px #fff, 1180px 935px #fff, 725px 717px #fff, 417px 281px #fff,
    1872px 696px #fff, 300px 1282px #fff, 1461px 57px #fff, 314px 997px #fff,
    925px 1668px #fff, 735px 1624px #fff, 1976px 1909px #fff, 1700px 1230px #fff,
    921px 888px #fff, 1389px 1709px #fff, 194px 1824px #fff, 1380px 366px #fff,
    304px 881px #fff, 1797px 1094px #fff, 1882px 1453px #fff, 39px 1615px #fff,
    1223px 330px #fff, 1184px 1068px #fff, 209px 592px #fff, 1556px 278px #fff,
    1110px 1315px #fff, 1823px 5px #fff, 1308px 489px #fff, 966px 1501px #fff,
    1648px 357px #fff;
}

/* html {
    position: fixed;
    height: 100%;
    width: 100%;
    font-family: "lato", sans-serif;
    color: #FFF;
    background: radial-gradient(ellipse at bottom, #0c1116 0%, #090a0f 100%);
  } */

#horizon {
  position: absolute;
  width: 160%;
  height: 70%;
  border-radius: 100%/100%;
  background: #038bff;
  -webkit-filter: blur(30px);
  left: 50%;
  bottom: -20%;
  margin-left: -80%;
  z-index: 2;
}
#horizon:before {
  content: " ";
  position: absolute;
  width: 81.25%;
  height: 70%;
  border-radius: 100%/100%;
  background: #51afff;
  -webkit-filter: blur(30px);
  opacity: 0.6;
  margin-left: 9.375%;
}
#horizon:after {
  content: " ";
  position: absolute;
  width: 32%;
  height: 20%;
  border-radius: 650px/350px;
  background: #b0daff;
  -webkit-filter: blur(30px);
  opacity: 0.5;
  margin-left: 34%;
}
#horizon .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  background: #215496;
  -webkit-filter: blur(200px);
  opacity: 0.7;
  top: -10%;
}

#earth {
  position: absolute;
  width: 200%;
  height: 100%;
  background: black;
  border-radius: 100%/100%;
  left: 50%;
  bottom: -50%;
  margin-left: -100%;
  z-index: 2;
}
#earth:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
}
#earth:after {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(0%, #000000),
    color-stop(50%, rgba(0, 0, 0, 0)),
    color-stop(100%, #000000)
  );
  background-image: -moz-linear-gradient(
    left,
    #000000 0%,
    rgba(0, 0, 0, 0) 50%,
    #000000 100%
  );
  background-image: -webkit-linear-gradient(
    left,
    #000000 0%,
    rgba(0, 0, 0, 0) 50%,
    #000000 100%
  );
  background-image: linear-gradient(
    to right,
    #000000 0%,
    rgba(0, 0, 0, 0) 50%,
    #000000 100%
  );
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
}

#title {
  position: absolute;
  font-weight: 300;
  top: 36%;
  left: 0;
  right: 0;
  margin-top: -80px;
  font-size: 130px;
  text-align: center;
  letter-spacing: 20px;
  padding-left: 20px;
  background: -webkit-linear-gradient(
    left,
    rgba(248, 80, 50, 1) 17%,
    rgba(248, 80, 50, 1) 20%,
    rgba(241, 111, 92, 1) 29%,
    rgba(241, 111, 92, 1) 33%,
    rgba(241, 111, 92, 1) 46%,
    rgba(246, 41, 12, 1) 64%,
    rgba(240, 47, 23, 1) 85%,
    rgba(231, 56, 39, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-name: animGravity;
  z-index: 2;
}

#subtitle {
  position: absolute;
  font-weight: 300;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
  letter-spacing: 6px;
  z-index: 2;
}

#subtitle span {
  background: -webkit-linear-gradient(
    left,
    rgba(248, 80, 50, 1) 17%,
    rgba(248, 80, 50, 1) 20%,
    rgba(241, 111, 92, 1) 29%,
    rgba(241, 111, 92, 1) 33%,
    rgba(241, 111, 92, 1) 46%,
    rgba(246, 41, 12, 1) 64%,
    rgba(240, 47, 23, 1) 85%,
    rgba(231, 56, 39, 1) 100%
  );
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
#subtitle span:nth-child(1) {
  animation-name: animDont;
}
#subtitle span:nth-child(2) {
  animation-name: animLet;
}
#subtitle span:nth-child(3) {
  animation-name: animGo;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }
  30%,
  80% {
    letter-spacing: 40px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }
  92%,
  100% {
    letter-spacing: 35px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animDont {
  0%,
  15% {
    transform: translateY(-26px);
    opacity: 0;
  }
  35%,
  80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%,
  100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animLet {
  0%,
  25% {
    transform: translateY(-26px);
    opacity: 0;
  }
  45%,
  80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%,
  100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animGo {
  0%,
  35% {
    transform: translateY(-26px);
    opacity: 0;
  }
  55%,
  80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%,
  100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
